* {
    margin: 0px;
    padding: 0px;
}

#excelimport label {
    font-size: 20px;
}

#excelimport input {
    border: 2px solid #d9d9d9;
    padding: 5px 10px;
    border-radius: 15px;
    font-style: italic;
    font-weight: bold;
}

div#excelimport {
    background: #f4f4f4;
    border: 1px solid #d9d9d9;
    margin-top: 30px;
    padding: 20px 30px;
}

p.clonetitle {
    text-transform: uppercase;
    font-size: 30px;
}

p.address {
    font-size: 18px;
    color: #3498db;
    height: 30px;
}

p.email {
    font-size: 18px;
    color: #3498db;
    height: 20px;
}

p.phone {
    font-size: 18px;
    color: #3498db;
    height: 20px;
}

p.work_unit {
    font-size: 18px;
    color: #3498db;
    height: 20px;
}

p.staff_type {
    font-size: 18px;
    color: #3498db;
    height: 20px;
}

p.code {
    font-size: 18px;
    color: #3498db;
    height: 30px;
}

p.unique {
    font-size: 22px;
    font-weight: bold;
    height: 70px;
}

#welcome {
    font-size: 25px;
}

#welcome a:hover {
    color: #3498db;
}

p.departmentwebsite {
    font-size: 18px;
    color: #3498db;
}

p.departmentaddress {
    font-size: 18px;
    color: #3498db;
    height: 35px;
}

p.departmentphone {
    font-size: 18px;
    color: #3498db;
    height: 20px;
}

p.departmenttype {
    color: #3498db;
    height: 30px;
    font-size: 18px;
}

p.departmentname {
    font-size: 22px;
    height: 70px;
    font-weight: bold;
}

#category .fields .content {
    position: absolute;
    top: 80px;
    right: 10px;
    z-index: 4;
    transition: 0.4s;
    transform: translateY(40px);
    border: 1px solid;
    border-top-left-radius: 15px;
    text-align: left;
    padding-left: 20px;
    overflow: auto;
    height: 300px;
    opacity: 0;
    visibility: hidden;
    background: white;
}

#category .col-6.text-center.fields {
    position: relative;
}

a.fieldelement {
    color: black;
}

a.fieldelement:hover {
    color: #3498db;
    font-style: italic;
}

#category .department i.fas.fa-caret-up.arrow {
    position: absolute;
    top: -35px;
    right: 16px;
    z-index: 4;
    font-size: 50px;
    color: #3498db;
}

.showcontent {
    opacity: 1!important;
    transform: translateY(0px)!important;
    visibility: visible!important;
}

#category .col-6.text-center.department {
    position: relative;
}

#category .col-6.text-center.department .content {
    position: absolute;
    top: 80px;
    left: 64px;
    z-index: 4;
    border: 1px solid;
    border-top-left-radius: 15px;
    opacity: 0;
    visibility: hidden;
    transition: 0.4s;
    transform: translateY(40px);
    overflow: auto;
    height: 300px;
    background: white;
}

.result {
    position: relative;
}

#category .content {
>>>>>>> d546a75aea0b71e7eb26ee9e4dbca1c171acdd76
    background: white;
}

.departmentelement {
    text-decoration: none;
    display: block;
    color: black;
    margin: 15px;
    padding: 5px 5px;
}

a.departmentelement:hover {
    color: #3498db;
    font-style: italic;
}

div#resulttitle {
    margin: 20px;
}

div#category p.title {
    margin-top: 40px;
    font-size: 20px;
    color: #3e3939;
    font-weight: bold;
    cursor: pointer;
}

#search {
    padding: 10px 20px;
}

#right {
    padding-left: 0px; 
}


#center {
    padding: 0px 0px;    
}

#left {
    padding-right: 0px;
}

#right button.btn.btn-primary {
    height: 40px;
    background: #3498db;
}

#center input.key {
    height: 40px;
    padding: 0px 20px;
    border: 2px solid #3498db;
    border-radius: 5px;
}

#left select {
    background: #2c3e50;
    color: white;
    height: 40px;
    
}

.searchbar {
    padding-top: 150px;
    background-color: #f4f4f4;
    border-bottom: 1px solid #d9d9d9;
    padding-bottom: 15px;
}

.hide {
    display: none;
}

.field {
    margin: 10px 0px;
}

.field i.fas.fa-caret-right {
    font-size: 25px;
    color: #3498db;
    transition: 0.4s;
}

.field i.fas.fa-caret-right:hover {
    transform: scale(1.4);
}

.field i.fas.fa-caret-down {
    font-size: 25px;
    color: #3498db;
    transition: 0.4s;
}

.field i.fas.fa-caret-down:hover {
    transform: scale(1.4);
}

.field i.fas.fa-plus-square {
    color: #27ae60;
    font-size: 25px;
    cursor: pointer;
}

.field i.fas.fa-pen-square {
    color: #2980b9;
    font-size: 25px;
    cursor: pointer;
}

.field i.fas.fa-minus-square {
    color: #c0392b;
    font-size: 25px;
    cursor: pointer;
}

.field i.fas.fa-ban {
    color: white;
}


#department, #user, #field {
    border: 3px solid;
    border-top-left-radius: 20px;
    height: 300px;
    overflow: auto;
    padding: 10px 20px;
}

#field {
    height: 400px;
}


.usertable {padding-top: 150px;}

.departmenttable {margin-top: 50px;}

.fieldtable {margin-top: 50px;margin-bottom: 150px;}

button.btn.btn-primary.resetpasswordbutton {
    margin-left: 15px;
}

form.resetpassword {
    margin-top: 30px;
    margin-left: -13px;
}

label.title {
    font-size: 18px;
}

p.vietnam {
    display: inline-block;
    margin-left: 10px;
}

img.img-fluid.flag {
    width: 40px;
    display: inline-block;
    float: left;
}

.copyright {
    margin-top: 150px;
    background: #000000bf;
    color: #ffffff;
    padding: 40px 0px;
    height: 100px;
}

i.fas.fa-user-friends.icon {
    font-size: 40px;
    border: 3px solid #666;
    width: 60px;
    height: 60px;
    text-align: center;
    border-radius: 50%;
    padding-top: 5px;
}

.col-4.detail {
    margin-top: 60px;
    border-left: 2px solid #666;
    padding-top: 30px;
    color: #666;
}

.col-4.detail p {
    font-size: 18px;
}

.resetbox button {
    margin-top: 10px;
}

p.resettitle {
    margin-top: 40px;
    font-size: 18px;
}

input#resetemail {
    width: 70%;
    height: 57px;
    font-size: 18px;
    color: #666;
}

.resetbox {
    padding-top: 150px;
}

.moveleft {
    transform: translateY(0px)!important;
}

.top {
    position: fixed;
    bottom: 20px;
    right: 10px;
    font-size: 50px;
    z-index: 6;
    color: #e74c3c;
    cursor: pointer;
    transition: 0.4s;
    transform: translateY(100px);
}

.more {
    position: absolute;
    top: 18%;
    left: 50%;
    z-index: 3;
    width: 200px;
    margin-left: -100px;
    text-align: center;
    opacity: 0;
    transition: 0.4s;
}

.more a {
    color: white;
    border-radius: 20px;
    text-decoration: none;
    background: #3498db;
    padding: 10px 40px;
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
    text-transform: uppercase;
}

.item .content {
    position: absolute;
    background: white;
    top: 350px;
    left: 0;
    z-index: 4;
    padding: 5px 10px;
    border-bottom: 3px solid #3498db;
    width: 100%;
    transition: 0.4s;
    height: 298px;
}

.transperantlayer {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    background: #000000a1;
    width: 100%;
    height: 350px;
    transition: 0.4s;
    opacity: 0;
}

.avatar {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    overflow: hidden;
}

.avatar img {
    width: 100%;
    height: 350px;
    transition: 0.4s;
}

.text-left.item {
    border: 1px solid gray;
    height: 490px;
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
}

.text-left.item:hover .content {
    transform: translateY(-160px);
}

.text-left.item:hover .more {
    cursor: auto;
    opacity: 1;
}

.text-left.item:hover .transperantlayer {
    opacity: 1;
}

.text-left.item:hover img {
    transform: scale(1.2);
}

.text-left.item:hover transperantlayer {
    opacity: 1;
}

.text-center.item {
    border: 1px solid gray;
    height: 490px;
    margin-bottom: 20px;
}

.line {
    height: 4px;
    position: relative;
    top: 65px;
}

.workunit .line {
    background: #27ae60;
}

.research .line {
    background: #f1c40f;
}

.teacher .line {
    background: #e74c3c;
}


a.findstaff {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 40px;
    margin-bottom: 100px;
    background: white;
    color: #2c3e50;
    border: 3px solid #2c3e50;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.4s;
    width: 100%;
}

a.findstaff:hover {
    color: #1abc9c;
    background: #2c3e50;
}


.workunit .col-6.title {
    border-bottom: 4px solid #27ae60;
}

.workunit .col-6.title i {
    color: #27ae60;
}

.workunit {
    margin-top: 30px;
}

.research .col-6.title {
    border-bottom: 4px solid #f1c40f;
}

.research .col-6.title i {
    color: #f1c40f;
}

.research {
    margin-top: 30px;
}

.teacher .col-6.title {
    border-bottom: 4px solid #e74c3c;
}

.teacher .col-6.title i {
    color: #e74c3c;
}

.teacher {
    margin-top: 30px;
}

.col-6.title {
    margin-bottom: 30px;
}


p.go:hover {
    transform: scale(1.5);
}

p.go {
    margin-top: 50px;
    background: #27ae60;
    padding: 20px 30px;
    display: inline-block;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.4s;
    color: white;
    font-weight: bold;
}

p.lineright {
    width: 100%;
    height: 2px;
    background: white;
    margin-top: -18px;
}

p.lineleft {
    width: 100%;
    height: 2px;
    background: white;
}

p.content {
    font-size: 20px;
    color: gray;
}

p.title {
    text-transform: uppercase;
    font-size: 80px;
    font-weight: 100;
}

.box {
    position: absolute;
    top: 300px;
    left: 50%;
    z-index: 3;
    width: 100%;
    margin-left: -50%;
    text-align: center;
    color: white;
}

.blacklayer {
    height: 800px;
    width: 100%;
    background: #00000094;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.banner {
    height: 800px;
    width: 100%;
    position: relative;
}

a.nav-link.loginbutton:hover {
    background: #27ae60!important;
}

a.nav-link.loginbutton {
    border-radius: 20px;
    background: #e74c3c;
    color: white!important;
    padding: 10px 20px!important;
}

.zoomin {
    margin-top: 0px!important;
    border-radius: 0px!important;
    padding: 5px 50px!important;
    background: #3498db!important;
}

.layer {
    width: 100%;
    height: 100%;
    background: #000000b5;
    position: fixed;
    z-index: 3;
    transition: 0.4s;
    visibility: hidden;
    opacity: 0;
}

img.banner-image {width: 100%;position: absolute;top: 0;left: 0;z-index: 1;height: 800px;}

button#barbutton {
    border-radius: 20px;
    display: block;
    padding: 10px 20px;
    border: 1px solid #3498db;
    background: #3498db;
    color: white;
}

button#barbutton:hover {
    border-color: #f1c40f;
    background: #f1c40f;
}

a#logo img {
    width: 60px;
}

a#logo {
    width: 60px;
}

nav#bar {
    border-radius: 30px;
    background: #000000bf;
    position: fixed;
    width: 100%;
    padding: 15px 120px;
    z-index: 10;
    transition: 0.4s;
}

.show {
    visibility: visible;
    opacity: 1;
}