* {
    margin: 0;
    padding: 0;
}

.info span {
    font-family: Arial;
    font-weight: bold;
    text-transform: uppercase;
}

a.info:hover {
    border-color: #2ecc71;
    background: #2ecc71;
    color: white;
}

a.info {
    position: absolute;
    top: 10%;
    left: 50%;
    z-index: 3;
    width: 150px;
    font-size: 20px;
    margin-left: -75px;
    text-align: center;
    border: 2px solid #3498db;
    border-radius: 10px;
    background: #3498db;
    color: white;
    opacity: 0;
    transition: 0.4s;
}

.moredetails h4 {
    padding: 10px 10px;
}

.searchblock:hover #search {
    opacity: 1;
    transform: scale(1);
}

.searchblock:hover .seachlogo {
    opacity: 0;
    transform: translateY(-40px);
}

p.seachlogo {
    color: #2980b9;
    font-size: 60px;
    width: 60px;
    height: 60px;
    position: absolute;
    left: 50%;
    top: 30px;
    margin-left: -30px;
    transition: 0.4s;
}

.searchblock {
    text-align: center;
    position: relative;
}

input#search {
    width: 50%;
    margin: auto;
    margin-top: 40px;
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    border-radius: 10px;
    padding: 5px 10px;
    border: 3px solid #2980b9;
    opacity: 0;
    transition: 0.4s;
    transform: scale(0.3);
}

.copyright p {
    color: #a1b1bc;
    margin-top: 30px;
}

.copyright {
    height: 93px;
    background: #222533;
}

.teacher .item {
    margin-bottom: 30px;
    opacity: 0;
    transform: translateY(300px);
}

.teacher .item:nth-child(4n) {
    margin-right: 0px;
}

p.linebottom {
    width: 1180px;
    height: 3px;
    background: #f1c40f;
    margin: auto;
    margin-bottom: 150px;
}

.elements:hover .leftarrow {
    opacity: 1;
    transition: 0.4s;
}

.elements:hover .rightarrow {
    opacity: 1;
    transition: 0.4s;
}

.rightarrow {
    position: absolute;
    right: 1px;
    top: 30%;
    font-size: 50px;
    color: #2ecc71;
    cursor: pointer;
    opacity: 0;
    z-index: 4;
    transition: 0.4s;
}

.leftarrow {
    position: absolute;
    top: 30%;
    left: 0px;
    color: #2ecc71;
    font-size: 50px;
    cursor: pointer;
    opacity: 0;
    z-index: 4;
    transition: 0.4s;
}

.listitem {
    width: 3000px;
}

.item .details {
    text-decoration: none;
    display: block;
    margin-top: 10px;
    margin: auto;
    border: 1px solid;
    width: 200px;
    text-align: center;
    padding: 5px 10px;
    border-radius: 13px;
    position: absolute;
    bottom: 10px;
    left: 50%;
    margin-left: -100px;
}


.cover {
    width: 272px;
    height: 355px;
}

.cover img {
    width: 272px;
    height: 355px;
    transition: 0.4s;
}

.item, .moredetails, .transperant {
    height: 467px;
    width: 272px;
    border: 1px solid gray;
    margin-right: 30px;
    float: left;
    position: relative;
    overflow: hidden;
}

.item:hover .transperant {
    opacity: 1;
}

.item:hover .info {
    opacity: 1;
}

.item:hover .moredetails {
    transform: translateY(0px);
}

.item:hover .cover img {
    transform: scale(1.2);
}

.moredetails {
    position: absolute;
    bottom: 0px;
    left: -1px;
    z-index: 3;
    height: 230px;
    background: #fffffff5;
    width: 272px;
    transition: 0.4s;
    transform: translateY(120px);
    border-bottom: 4px solid #2980b9;
}

.transperant {
    background: #0000008f;
    position: absolute;
    top: 0px;
    width: 272px;
    left: 0px;
    z-index: 2;
    opacity: 0;
    transition: 0.4s;
}

p.line {
    width: 300px;
    height: 3px;
    background: #1abc9c;
    margin: auto;
    margin-top: 1px;
}

.major {
    margin-top: 100px;
    perspective: 800px;
}


html, body {
    width: 100%;
    height: 100%;
    font-family: 'Lato', sans-serif!important;
}

a.logo p {
    float: left;
    font-size: 30px;
    color: white;
    font-weight: 700;
}

a.logo {
    display: block;
    line-height: 100px;
    margin-left: 20%;
}

.menu {
    height: 100px;
    background: transparent;
    border-bottom: 3px solid gray;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 10;
    width: 100%;
}

.feature li {
    float: left;
    padding: 38px 20px 37px 20px;
    text-align: center;
    text-transform: uppercase;
    color: #d6caca;
    font-size: 14px;
}

li.signin {

    border: 1px solid #2ecc71;
    border-radius: 30px;
    padding-top: 16px;
    height: 50px;
    margin-top: 22px;
    background: #2ecc71;
    color: white;
    font-weight: 700;

}


li.signin:hover {
  background: #3498db;
  border-color: #3498db;
  cursor: pointer;
  transition: 0.5s;
}

.feature ul {
    list-style-type: none;
    float: right;
    margin-right: 20%;
}

a.logo img {
    width: 130px;
    height: 100px;
    float: left;
}

.banner {
    height: 700px;
    position: relative;
}

.banner .background {
    height: 700px;
    position: absolute;
    z-index: 1;
    overflow: hidden;
    width: 100%;
}

.banner .background img {
    height: 700px;
    animation: ZoomOutBackground 40s forwards!important;
    animation-delay: 1s!important;
    width: 100%;
}

.banner .layout {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 2;
    height: 700px;
    background: #0d0b0b;
    opacity: 0.75;
    width: 100%;
}


.banner .title {
    width: 800px;
    font-family: 'Kaushan Script', cursive;
    text-align: center;
    text-transform: uppercase;
    color: white;
    font-size: 60px;
    position: absolute;
    top: 30%;
    left: 50%;
    z-index: 3;
    margin-left: -400px;
    font-weight: 600;
    opacity: 0;
    animation: ZoomIn 1.4s forwards;
}

.banner .content {
    position: absolute;
    left: 50%;
    top: 45%;
    z-index: 3;
    margin-left: -400px;
    width: 800px;
    color: #bdb5b5;
    font-size: 25px;
    text-align: center; 
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    opacity: 0;
    animation: ZoomOut 1.4s forwards;
    animation-delay: 0.6s;
}

.banner .button {
    width: 200px;
    position: absolute;
    top: 55%;
    left: 50%;
    z-index: 3;
    margin-left: -100px;
    text-align: center;
    opacity: 0;
    transform: rotateX(-90deg);
    transform-origin: 0% 0%;
    animation: Rotate 1.4s forwards;
    animation-delay: 1s;
}

.banner .button a {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  border: 1px solid #3498db;
  background: #3498db;
  border-radius: 10px;
  padding: 15px 40px;
  font-family: tahoma;
  color: white;
  text-decoration: none;
}

.banner .button a:hover {
    transition: 0.8s;
    color: white;
    background: #2c3e50;
    border-color: #2c3e50;
    text-decoration: none;
}


.bar {
    background: #294468;
    transition: 0.4s;
}

.webcontent .kind {
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 500;
    border: 2px solid #2c3e50;
    color: #2c3e50;
    width: 300px;
    text-align: center;
    margin: auto;
    padding: 5px 20px;

}

.major .kind {
    transform: translateX(300px);
    opacity: 0;
}

.research .kind {
    transform: translateX(-300px);
    opacity: 0;
}

.teacher .kind {
    transform: translateY(-300px);
    opacity: 0;
}


.elements {
  width: 1180px;
  height: 500px;
  margin: auto;
  overflow: hidden;
  margin-top: 40px;
  margin-bottom: 20px;
  position: relative;
}

.teacher .elements {
    height: auto;
    margin-top: 70px;
}


div.top {
    position: fixed;
    bottom: 0px;
    right: -200px;
    width: 70px;
    height: 70px;
    transition: 0.4s;
}

.moveleft {
    right: 0px !important;    
    transition: 0.4s;
}

div.top:hover {
    cursor: pointer;
}

.show {
    opacity: 1!important;
    transform: translateY(0px) !important;
}

.menu .home a {    
    text-decoration: none;
    color: #adadad;
    font-family: 'Lato', sans-serif !important;
    font-weight: 610;
    font-size: 15px;
}

.menu .teacher a {
    text-decoration: none;
    color: #adadad;
    font-family: 'Lato', sans-serif !important;
    font-weight: 610;
    font-size: 15px;
}

.menu .signin a {
    text-decoration: none;
    color: #000;
    font-family: 'Lato', sans-serif !important;
    font-weight: 610;
    font-size: 15px;
}

.menu .home a:hover {
    
    text-decoration: none;
    color: white;
    font-family: 'Lato', sans-serif !important;
    font-weight: 610;
    font-size: 15px;
}

.menu .teacher a:hover {
    text-decoration: none;
    color: white;
    font-family: 'Lato', sans-serif !important;
    font-weight: 610;
    font-size: 15px;
}

.menu .signin a:hover {
    text-decoration: none;
    color: white;
    font-family: 'Lato', sans-serif !important;
    font-weight: 610;
    font-size: 15px;
}

@-webkit-keyframes ZoomIn {
    0% {
        transform: scale(2);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@-webkit-keyframes ZoomOut {
    0% {
        transform: scale(0.3);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@-webkit-keyframes ZoomOutBackground {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(2.5);
    }
}

@-webkit-keyframes Rotate {
    0% {
        transform: rotateX(-90deg);
        opacity: 0;
    }
    100% {
        transform: rotateX(0deg);
        opacity: 1;
    }
}
