* {
    margin: 0px;
    padding: 0px;
}

img.banner-image {
    height: 800px;
}

button#barbutton {
    border-radius: 20px;
    display: block;
    padding: 10px 20px;
    border: 1px solid #3498db;
    background: #3498db;
    color: white;
}

a#logo img {
    width: 60px;
}

a#logo {
    width: 60px;
}

nav#bar {
    border-radius: 30px;
    background: #000000bf!important;
    position: fixed;
    width: 100%;
    padding: 15px 120px;
}

